<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="../styles/blog.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="../index.html"></a>
        <img src="../img/LOTO blan (1) (1).png" alt="logo" />
      </div>
      <nav class="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="clases.html">Clases</a></li>

          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
      <div class="search-container">
        <input
          type="text"
          id="searchInput"
          placeholder="Buscar artículos..."
          aria-label="Buscar artículos"
        />
        <button onclick="searchArticles()">Buscar</button>
      </div>
    </header>

    <section class="section-img">
      <div class="img-overlay-container">
        <img src="../img/imgHome1.jpg" alt="" />
        <div class="img-text">
          <h1>Blog de yoga</h1>
          <p>
            En mi blog de yoga, podrás encontrar mucha información sobre yoga,
            meditación y bienestar. Utiliza el buscador para encontrar el
            contenido que te interesa: estilos de yoga, beneficios del
            mindfulness, como elegir tu esterilla de yoga, recetas saludables...
          </p>
        </div>
      </div>
    </section>
    <section>
      <article>
        <h2>Entrenamiento y alimentación para ganar fuerza y salud</h2>
        <img
          src="../img/ganar-fuerza-muscular-1200x675.jpg"
          alt="imagen"
          class="imagen-blog"
        />
        <p>
          Hace pocos años, el entrenamiento con peso o resistencia era casi una
          exclusiva del público masculino. Las mujeres centrábamos nuestro
          ejercicio físico en prácticas aeróbicas o cardiovasculares, o bien de
          flexibilidad y movilidad. El temor a que los pesos pudieran dañar
          nuestros huesos o articulaciones, ...
        </p>
        <a
          href="https://xuanlanyoga.com/entrenamiento-y-alimentacion-para-ganar-masa-muscular-y-salud/"
          target="_blank"
          >Leer el artículo completo</a
        >
      </article>
      <article>
        <h2>Conoce los Beneficios del Yoga: guía básica para principiantes</h2>
        <h3>
          Un resumen de las ideas básicas para empezar a practicar yoga y
          disfrutar de sus beneficios
        </h3>
        <img src="../img/beneficios-del-yoga.webp" alt="" class="imagen-blog" />
        <p>
          Más allá de las posturas físicas, el yoga es una filosofía de vida que
          busca la unión entre cuerpo, mente y alma. En este artículo, te
          contamos cuáles son los beneficios del yoga para el cuerpo y la mente,
          ofreciéndote una guía básica especialmente diseñada para
          principiantes. Descubre cómo el yoga puede ser una herramienta
          poderosa para mejorar tu calidad de vida y comienza tu viaje hacia una
          vida más equilibrada y consciente con YogaOne El Perchel.
        </p>
        <a
          href="https://psicologiaymente.com/salud/beneficios-del-yoga-guia-basica-para-principiantes"
          target="_blank"
          >Leer el artículo completo</a
        >
      </article>
      <article>
        <h2>Meditación en yoga: qué es y cómo practicarla para relajarse</h2>
        <img src="../img/yoga-y-meditacion.jpg" alt="" class="imagen-blog">
        <p>
          La meditación en el yoga permite entrar en un estado de calma,
          concentración y conexión con uno mismo. Para ello es importante hacer
          una buena combinación entre la postura, la respiración controlada y la
          atención plena. Hoy profundizamos en el concepto de meditar y sus
          efectos, y te explicamos cuáles son las mejores técnicas de meditación
          para relajarse para practicarlas en casa. ¿Te interesa el tema a nivel
          profesional?
        </p>
        <a href="https://institutodyn.com/meditacion-yoga-tecnicas-casa/">Leer elarticulo completo</a>
      </article>
      <article>
        <h2>Artículo 4</h2>
      </article>
    </section>

    <footer>
      <p>footer</p>
    </footer>
  </body>
</html>
