<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="../styles/blog.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="../index.html"></a>
        <img src="../img/LOTO blan (1) (1).png" alt="logo" />
      </div>
      <nav class="nav">
        <ul>
            <li><a href="home.html">Home</a></li>
          <li><a href="clases.html">Clases</a></li>
          
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <section class="section-img">
      <div class="img-overlay-container">
        <img src="../img/imgHome1.jpg" alt="" />
        <div class="img-text">
          <h1>Blog de yoga</h1>
          <p>
            En mi blog de yoga, podrás encontrar mucha información sobre yoga,
            meditación y bienestar. Utiliza el buscador para encontrar el
            contenido que te interesa: estilos de yoga, beneficios del
            mindfulness, como elegir tu esterilla de yoga, recetas saludables...
          </p>
        </div>
      </div>
    </section>
    <section></section>

    <footer>
      <p>footer</p>
    </footer>
  </body>
</html>
