<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <script
      src="https://kit.fontawesome.com/c9b87a4bee.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header id="encabezado">
      <img src="../img/images.jpg" alt="logo">
      <h1 class="logo">
        <a href="" class="fuente-acento">Yoga Ajna Sol</a>
      </h1>
      <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars"></i>
      </label>
      <nav class="navbar">
        <ul class="menu">
          <li><a class="navli" href="home.html">Inicio</a></li>
          <li><a class="navli" href="clases.html">clasess</a></li>
          <li><a class="navli" href="blog.html">Blog</a></li>
          <li><a class="navli" href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <script src="../script/script.js"></script>
  </body>
</html>
