<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajna Sol</title>
    <link rel="stylesheet" href="../styles/home.css" />
  </head>
  <body>
    <header>
        <h1>Yoga Ajna Sol</h1>
      <nav>
        <ul>
            <li><a href="clases.html">Clases</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <section>
      
        </section>
    </main>

    

    <footer></footer>
  </body>
</html>
