<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajna Sol</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/home.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="../index.html"></a>
        <img src="../img/LOTO blan (1) (1).png" alt="logo" />
      </div>
      <nav class="nav">
        <ul>
          <li><a href="clases.html">Clases</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <div id="carousel">
      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carous
            elExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../img/139078.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h4>Descubre la tranquilidad</h4>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../img/139099.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h4>Armoniza tu mente y cuerpo</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../img/139141.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h4>Inspira paz, exala felicidad</h4>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <main class="contenido">
      <section class="item1">
        <h2>Clases y talleres</h2>
        <img src="../img/Vinyasa Suave.webp" alt="image" />

        <article id="art1">
          <h3>Vinyasa Suave</h3>
          <p>
            Una clase de suave vinyasa para comenzar el día llenándote de
            energía...
          </p>

          <a href="clases.html">Leer más</a>
        </article>
        <article id="art2">
          <h3>Slow Yoga</h3>
          <p>
            Una sesión de yoga tranquilo y pausado, en el que a través de las
            distintas posturas soltarás las tensiones y los dolores del cuerpo y
            de la mente.
          </p>
          <a href="clases.html">Leer más</a>
        </article>
      </section>

      <aside class="sidebar">
        <h3>Videos más vistos</h3>
        
        <iframe
          width="780"
          height="439"
          src="https://www.youtube.com/embed/WamU36hXiNw"
          title="Tu Primera Clase de Yoga (Nivel principiante)"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>

        <iframe
          width="780"
          height="439"
          src="https://www.youtube.com/embed/bXHhWo1kMI0"
          title="Clase de yoga: Hatha Yoga para la espalda (20 minutos)"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <iframe
          width="1250"
          height="703"
          src="https://www.youtube.com/embed/R2C6mXmIRJw"
          title="25 min de yoga para aliviar el dolor de espalda alta y cuello | Xuan Lan Yoga"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <iframe
          width="1250"
          height="703"
          src="https://www.youtube.com/embed/2G99FdLZITs"
          title="Yoga para aliviar estrés y calmar la ansiedad"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </aside>
    </main>

    <footer class="footer">
      <h1>footer</h1>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
