body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;

    background-color: rgb(224,222,223); /* linen */
    display: grid;
}

header {
    background-color: rgb(176,193,187); /* sea breeze */
    border-bottom: 5px solid;
    border-color: rgb(195,107,93); /* dark coral */
    width: 100%;
}

header > .header-logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

main {
    padding-bottom: 1rem;
}

h1, h2 {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
}

h1 {
    color: rgb(73,93,97); /* ocean */
    margin-bottom: 1rem;
}

h2 {
    font-size: 5rem;
    /*color: rgb(144,152,145);  sage */
    color: rgb(58,68,68); /* dark ocean */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

section > div > h2 {
    padding-left: 1rem;
}

#cursosContenido > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#cursosContenido > div > article {
    background-color: rgb(209,157,112); /* wheat */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25rem;
}

#cursosContenido > div > article > h3 {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    color: rgb(73,93,97);
}

#cursosContenido > div > article > p {
    margin-left: 3rem;
    margin-right: 1.5rem;
    flex-grow: 1;
}

.consultaCursoBtn {
    text-decoration: none;
    color: rgb(73,93,97); /* ocean */
    background-color: rgb(230,209,207); /* powder pink */
    border-radius: 25px;
    padding: 10px ;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

footer {
    display: grid;
    background-color: rgb(176,193,187); /* sea breeze */
    padding-top: 1rem;
    width: auto;
    height: auto;
}

footer > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.logo-footer {
    width: 25.16332mm;
    height: 27.61395mm;
    margin-left: 1rem;
}

.footer-redes {
    align-content: center;
}

.footer-redes > a {
    text-decoration: none;
}

.footer-redes > a > img {
    width: 40px;
    height: 40px;
    /* rgb(73,93,97); ocean */
    filter: brightness(0) saturate(100%) invert(36%) sepia(10%) saturate(706%) hue-rotate(142deg) brightness(93%) contrast(93%);
}

.powered-by {
    text-align: center;
    color: rgb(209,157,112); /* wheat */
    background-color: rgb(176,193,187); /* sea breeze */

    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (max-width: 768px) {
    #cursosContenido > div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}