* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #e1e0ce;
}
/* ESTILOS GENERALES */

.fuente-clara {
  color: #eeeeee;
}

.fuente-oscura {
  color: #22211f;
}

.fuente-acento {
  color: #b59a61;
}
#encabezado, img{
  display: flex;
}
#encabezado img{
  margin: 10px;
}


nav ul li {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

nav ul li a {
  color: #eeeeee;
}
/* ENCABEZADO */

header {
  background-color: rgba(34, 33, 31, 0.85);
  width: 100%;
}

.logo {
  display: inline-block;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
  
}
header img{
  border-radius: 35px;
  border: 2px solid lightgray;
}
header {
  position: fixed;
  z-index: 1000;
  top: 0;
}

header nav {
  height: 80px;
  float: right;
}

nav ul.menu {
  float: right;
}

nav ul.menu li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul.menu li a {
  color: #eee;
  font-size: 15px;
  text-transform: uppercase;
  padding: 7px 7px;
}
.navbar{
margin-left: auto;
}

/* formulario */


form{
  position:relative;
  top: 150px;
  
}

div {
 /* margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;*/
}
div .nom input{
  height: 30px;
  width: 50%;
  border-radius: 15px;
  border: 1px solid lightgray;
  padding: 0 1rem;}

div .mail input{
    height: 30px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 0 1rem;}
div .gen input{
      height: 20px;
      width: 100vh;
      border-radius: 15px;
      border: 1px solid lightgray;
      padding: 0 0.5rem;}

div .edad input{
        height: 20px;
        width: 100vh;
        border-radius: 15px;
        border: 1px solid lightgray;
        padding: 0 0.5rem;
      }
        
 textarea{
    height: 250px;
    width:100%;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 0 1rem;}

div .boton input{
      height: 30px;
      width: 50%;
      border-radius: 15px;
      border: 1px solid lightgray;
      padding: 0 1rem;
    }
.envia:hover{
  background-color: green;
  cursor: pointer;
  color: white;
} 
 .borra:hover{
  background-color: red;
  cursor: pointer;
  color: white;
}   
.formulario div{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: .5rem; 
}

/* MENU */

.checkbtn {
  font-size: 25px;
  color: rgb(199, 141, 141);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* MEDIA QUERIES */

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
  /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
  header {
    background-color: rgba(34, 33, 31, 0.85);
  }

  .checkbtn {
    display: block;
    margin-left: auto
  }

  .navbar {
    height: 0vh;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #455f76;
    text-align: center;
    align-items: end;
    transition: all 0.5s;
    overflow: hidden;
  }

  .navbar ul.menu{
    float: none;
    width: 174px;
    margin: 0 auto;
    opacity: 0;
  }
  nav ul.menu li {
    display: block;
    line-height: 80px;
    margin: 0 5px;
  }

  .navbar ul.menu li a:hover {
    color: #b59a61;
    
  }
  /* ACTIVE */
  .navbar.active {
    height: 100vh;
  }

  .navbar.active ul.menu {
    opacity: 1;
  }
}


